html {
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-image: url("obrazky/backgroundV2.png");
    /* jak nastavit, aby pozadí začínalo za headerem*/
}

#logo {
    top: 90px;
}

h1 {
    text-align: center;
    font-size: 90px;

}

h2 {
    font-size: 30pt;
    color: rgb(28, 56, 0);
}

h3 {
    font-size: 25pt;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;
    vertical-align: bottom;
    background-color: rgb(139, 211, 73);
}

#ovladani {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

#horni-prava {
    grid-column: 3;
    grid-row: 1
}

#horni-leva {
    grid-column: 4;
    grid-row: 1
}

#spodni-prava {
    grid-column: 3;
    grid-row: 2
}

#spodni-leva {
    grid-column: 4;
    grid-row: 2
}

#menu {
    position: sticky;
    top: 0;
    font-weight: bold;
}

#menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(89, 155, 27);
}

#menu li {
    display: inline-block;
}

#menu a {
    color: rgb(28, 56, 0);
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
}

#menu a:hover,
#menu a:focus,
#menu a:active {
    background-color: rgb(139, 211, 73);
}

.uvodInfoDiv,
.oNasDiv {
    height: 500px;
    width: 750px;
    /*background-color: aqua;*/
    /* barva nemusí být vidět, jen pro "zarámování textu"*/
    padding-left: 100px;
    font-size: 20pt;
    text-align: justify;
}

.oNasDiv {
    position: absolute;
    top: 3700px
        /* <-- this is what I added */
}

footer {
    color: whitesmoke;
    background-color: rgb(28, 56, 0);
    /*možná černá?????*/
    position: absolute;
    top: 5500px;
    width: 100%;
    left: 0;
}

#prvniZasuvkaV,
#prvniZasuvkaZ {
    position: absolute;
    top: 1630px;
    width: 250px;
    height: 250px;
    left: 450px;
}

#druhaZasuvkaZ,
#druhaZasuvkaV {
    position: absolute;
    top: 1630px;
    width: 250px;
    height: 250px;
    left: 658px;
}

#tretiZasuvkaV,
#tretiZasuvkaZ {
    position: absolute;
    top: 2168px;
    width: 250px;
    height: 250px;
    left: 450px;
}

#ctvrtaZasuvkaV,
#ctvrtaZasuvkaZ {
    position: absolute;
    top: 2168px;
    width: 250px;
    height: 250px;
    left: 658px;
}

#chart {
    width: 700px;
    height: 500px;
    position: absolute;
    top: 2600px;
    left: 350px;
}

.autoTlacitka {
    position: absolute;
    top: 2000px;
    left: 1100px;
}

.autoTlacitka button {
    width: 50px;
    height: 50px;
    font-size: 45px;
    border: 3px solid rgb(28, 56, 0);
    border-radius: 4px;
    text-align: center;
}

#display {
    font-size: 60px;
}

.SenzoryGrid {
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#teplotaA {}

button {
    background-color: rgb(139, 211, 73);
    color: rgb(0, 0, 0);
    font-family: 'PT Sans', sans-serif;
    border: 3px solid rgb(28, 56, 0);
}

#zasuvka1 {
    position: absolute;
    top: 1450px;
    left: 490px;
}

#tlacitkoZ1 {
    position: absolute;
    top: 1538px;
    left: 460px;
    border-radius: 5px;
}

#tlacitkoV1 {
    position: absolute;
    top: 1538px;
    left: 565px;
    border-radius: 5px;
}

#zasuvka2 {
    position: absolute;
    top: 1450px;
    left: 715px;
}

#tlacitkoZ2 {
    position: absolute;
    top: 1538px;
    left: 690px;
    border-radius: 5px;
}

#tlacitkoV2 {
    position: absolute;
    top: 1538px;
    left: 795px;
    border-radius: 5px;
}


#zasuvka3 {
    position: absolute;
    top: 1990px;
    left: 490px;
}

#tlacitkoZ3 {
    position: absolute;
    top: 2075px;
    left: 460px;
}

#tlacitkoV3 {
    position: absolute;
    top: 2075px;
    left: 565px;
}

#zasuvka4 {
    position: absolute;
    top: 1990px;
    left: 715px;
}

#horni-prava button,
#horni-leva button,
#spodni-prava button {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}

.senzory {
    position: absolute;
    top: 2500px;
    left: 100px;
}