h1, h2, p {
    text-align: center;
}

#ovladani{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

}

#horni-prava{
    grid-column: 3;
    grid-row: 1
}

#horni-leva{
    grid-column: 4;
    grid-row: 1
}

#spodni-prava{
    grid-column: 3;
    grid-row: 2
}

#spodni-leva{
    grid-column: 4;
    grid-row: 2
}

footer{
    background-color: blueviolet;
}

#menu {
    position: sticky;
    top: 0;
    font-weight: bold;
}

#menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: green;
}

#menu li {
    display: inline-block;
}

#menu a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
}

#menu a:hover, #menu a:focus, #menu a:active {
    background-color: beige;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;
}